#contenedor_principal{
    /*border: solid green 2px;*/
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form_sesion{
    /*border: red 2px solid;*/
    position: absolute;
    width: 50%;
    background-color: #69aedb; 
    border-radius: 15px;
}

#form_id,#form_pass{ 
    /*border: orange 2px solid;*/
    width: 90%;
    margin: auto;
    text-align: left;
}

