a{
    border: solid 2px #5B9FF0;
    width: 100%;
}

span{
    width: 110px;
}


.main{
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    width: 20%;
    height: 100vh;
}

.formulario{
    background-color: #f4f6fc;
    position: absolute;
    border: solid #5B9FF0 3px;
    border-radius: 10%;
    width: 100%;
    height: 40%;
}


.Inputs{
    position: absolute;
    bottom: 0;
    /*border: 1px solid green;*/
    width: 100%;
}

img{
    position: absolute;
    bottom: 47%;
    left: 29%;
    width: 43%;
    height: 50%;
}

@media (max-width: 958px){
    .main{
        width: 30%;
    }
    .formulario{
        width: 100%;
    }

    img{
        width: 55%;
        left: 23%;
    }
}